
* {
    box-sizing: border-box;
    --lightest-color: #FCF7F7;
    --header-color: #da8f6e;
    --secondary-background-color: #d7b082;
    --shadow-color: #463028;
    --accent-color: #809c80;
    --background-color: #F7E8BF;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--lightest-color);
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: var(--accent-color);
}

body {
    display: inline-grid;
    grid-gap: 10px;
    height: 100vh;
    width: 100vw;
}

header h1 {
    text-transform: uppercase;
    font-family: 'Heebo', sans-serif;
    font-size: 6em;
    margin-bottom: 0;
    font-weight: 800;
    letter-spacing: 3px;
    color: var(--header-color);
    line-height: .5;
}

header h2 {
    text-transform: lowercase;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    letter-spacing: 5px;
    color: var(--accent-color);
    font-size: 2.5em;
}

p {
    font-size: 1em;
}

#left-col{
    position: fixed;
    /*top: 100px;*/
    /*left: 100px;*/
    height: 100vh;
    width: 50%;
    background-color: var(--background-color);
    box-shadow: 0 0 5px 1px var(--shadow-color);
}

/*---------------"CARDS"-------------*/
.section-headers{
    font-family: 'Heebo', sans-serif;
    color: var(--accent-color);
}

#randomDay-div, #number-div{
    padding: 10%;
    margin: 5% 5%;
    transition: all 0.3s ease-out;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px var(--shadow-color);
}

#color-div, #joke-div{
    padding: 10%;
    margin: 5% 5%;
    transition: all 0.3s ease-out;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px var(--shadow-color);
}
#randomDay-div:hover, #number-div:hover{
    padding: 10%;
    margin: 5% 5%;
    box-shadow: 0 0 30px 5px var(--shadow-color);
    transform: translateY(-5px) scale(1.005) translateZ(0);
}

#color-div:hover, #joke-div:hover{
    padding: 10%;
    margin: 5% 5%;
    box-shadow: 0 0 30px 5px var(--shadow-color);
    transform: translateY(-5px) scale(1.005) translateZ(0);
}

#color-circle{
    height: 100px;
    width: 100px;
    margin: 20px;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--accent-color);
}

#color-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*---------------COOKIE-------------*/
#default-cookie-pic {
    height:40vh;
}

/* Wiggle animations on hover over cookie image */
#default-cookie-pic:hover {
    cursor: pointer;
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
    0% {-webkit-transform: rotate(10deg);}
    25% {-webkit-transform: rotate(-10deg);}
    50% {-webkit-transform: rotate(20deg);}
    75% {-webkit-transform: rotate(-5deg);}
    100% {-webkit-transform: rotate(10deg);}
}

@-ms-keyframes wiggle {
    0% {-ms-transform: rotate(1deg);}
    25% {-ms-transform: rotate(-1deg);}
    50% {-ms-transform: rotate(1.5deg);}
    75% {-ms-transform: rotate(-5deg);}
    100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
}
/******** end of wiggle animation CSS *********/


/*---------------"FORTUNE CARD"-------------*/
#fortune {
    display: none;
    padding: 40px;
    color: var(--accent-color);
    width: 80%;
    font-weight: bold;
    max-width: 700px;
    font-size: 1.7em;
    margin: 10px auto;
    background-color: var(--lightest-color);
    border-radius: 5px;
}

#default-instructions {
    color: var(--accent-color);
}

#repeat-instructions {
    display: none;
    color: var(--accent-color);
}


/* ---------------------------SMALL SCREEN SIZES (575px width and smaller)------------------------ */

@media screen and (max-width:575px) {

    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    #number-div {
        grid-area: 5 / 1 / 6 / 2;
    }

    #joke-div {
        grid-area: 6 / 1 / 7 / 2;
    }

    #main-col {
        grid-area: 2 / 1 / 3 / 2;;
    }

    #randomDay-div {
        grid-area: 3 / 1 / 4 / 2;
    }

    #color-div {
        grid-area: 4 / 1 / 5 / 2;
    }
    header{
        grid-area: 1 / 1 / 2 / 3;
        margin-top: 10%;
    }

    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    #left-col{
        position: static;
        width: auto;
        height: auto;
    }

    header h1 {
        text-transform: uppercase;
        font-family: 'Heebo', sans-serif;
        font-size: 4em;
        margin-bottom: 0;
        font-weight: 800;
        letter-spacing: 1px;
        color: var(--header-color);
        line-height: .5;
    }

    header h2 {
        text-transform: lowercase;
        font-family: 'Open Sans', sans-serif;
        margin-top: 10px;
        letter-spacing: 2px;
        color: var(--accent-color);
        font-size: 2em;
    }

    #default-cookie-pic {
        height:20vh;
    }

}

/* ---------------------------MEDIUM SCREEN SIZES (576px - 991px)---------------------------- */

@media screen and (min-width: 576px) and (max-width:991px) {

    body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    #number-div {
        grid-area: 3 / 3 / 4 / 5;
    }

    #joke-div {
        grid-area: 4 / 3 / 5 / 5;
    }

    #main-col {
        grid-area: 2 / 1 / 5 / 3;
    }

    #randomDay-div {
        grid-area: 1 / 3 / 2 / 5;
    }

    #color-div {
        grid-area: 2 / 3 / 3 / 5;
    }

    header h1 {
        text-transform: uppercase;
        font-family: 'Heebo', sans-serif;
        font-size: 3.5em;
        margin-bottom: 0;
        font-weight: 800;
        letter-spacing: 1px;
        color: var(--header-color);
        line-height: .5;
    }

    header h2 {
        text-transform: lowercase;
        font-family: 'Open Sans', sans-serif;
        margin-top: 10px;
        letter-spacing: 2px;
        color: var(--accent-color);
        font-size: 2em;
    }

    header{
        margin-top: 50%;
    }

    #default-cookie-pic {
        height:20vh;
    }

}
/* ---------------------------LARGE SCREEN SIZES (992px and larger)--------------------------- */

@media screen and (min-width: 992px) {

    body {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    #number-div {
        grid-area: 3 / 3 / 4 / 5;
    }

    #joke-div {
        grid-area: 4 / 3 / 5 / 5;
    }

    #main-col {
        grid-area: 2 / 1 / 5 / 3;
    }

    #randomDay-div {
        grid-area: 1 / 3 / 2 / 5;
    }

    #color-div {
        grid-area: 2 / 3 / 3 / 5;
    }
    header {
        grid-area: 1 / 1 / 2 / 3;
    }

    header h1 {
        text-transform: uppercase;
        font-family: 'Heebo', sans-serif;
        font-size: 5em;
        margin-top: 120px;
        margin-bottom: 0;
        font-weight: 800;
        letter-spacing: 3px;
        color: var(--header-color);
        line-height: .5;
    }

    header h2 {
        text-transform: lowercase;
        font-family: 'Open Sans', sans-serif;
        margin-top: 40px;
        letter-spacing: 4px;
        color: var(--accent-color);
        font-size: 2em;
    }
}