* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: #f7e8bf;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    color: #463028;
}

header h1 {
    text-transform: uppercase;
    font-family: 'Heebo', sans-serif;
    font-size: 6em;
    margin-bottom: 0;
    font-weight: 800;
    letter-spacing: 3px;
    color: #da8f6e;
    line-height: .5;
}

header h2 {
    text-transform: lowercase;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    letter-spacing: 15px;
    color: #809c80;
    font-size: 2.5em;
}

p {
    font-size: 1.4em;
}

#default-cookie-pic {
    margin-top: 3em;
    max-width: 400px;
}

#default-cookie-pic:hover {
    cursor: pointer;
    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
}

#fortune {
    display: none;
    background-color: white;
    padding: 40px;
    border: 3px solid lightgray;
    color: darkblue;
    width: 80%;
    font-weight: bold;
    max-width: 700px;
    font-size: 1.7em;
    margin: 10px auto;
}

#default-instructions {
    color: #809c80;
}

#repeat-instructions {
    display: none;
    color: #809c80;
}

@-webkit-keyframes wiggle {
    0% {-webkit-transform: rotate(10deg);}
    25% {-webkit-transform: rotate(-10deg);}
    50% {-webkit-transform: rotate(20deg);}
    75% {-webkit-transform: rotate(-5deg);}
    100% {-webkit-transform: rotate(10deg);}
}

@-ms-keyframes wiggle {
    0% {-ms-transform: rotate(1deg);}
    25% {-ms-transform: rotate(-1deg);}
    50% {-ms-transform: rotate(1.5deg);}
    75% {-ms-transform: rotate(-5deg);}
    100% {-ms-transform: rotate(0deg);}
}

@keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
}

/* For phones and extra small screens */

@media screen and (max-width:575px) {
    #joke, #answer, #randomDay, #number {
        display: none;
    }

    header h1 {
    width: 95%;}
}

    #default-cookie-pic {
        width: 70%;
    }
}

